<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Car Deals</title>
  </head>
  <body>
    <h1>Welcome to Top Quality Cars</h1>
    <h3>Add your car:</h3>

    <form action="/cars" method="post">
      <label for="makemodel">Add a new Make and Model</label>
      <input id="makemodel" name="makemodel" type="text">
      <label for="price">Add price</label>
      <input id="price" name="price" type="text">  <label for="miles">Add miles</label>
      <input id="miles" name="miles" type="text">
      <button type="submit">Add Car</button>

  </body>
</html>
