@using CarDealership.Models;

<h1>Top Quality Cars</h1>
<ul>

@if(Model.Count == 0)
{
  <p>No Cars :()</p>
}
@if(Model.Count != 0)
{
  @foreach (Car element in Model)
  {
    <li>@element.GetMakeModel()</li>
    <li>@element.GetPrice()</li>
    <li>@element.GetMiles()</li>
  }
}

</ul>
<a href="/cars/new">Add a new car!</a>
